/* MAIN BODY ELEMENTS */
body {
  min-width:320px;
  max-width: 800px;
  margin:0 auto;
}
/* TYPOGRAPHY */
h1{
  font-size: 30px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  font-size: 20px;
  padding: 0px;
  font-family: cursive;
  color:rgba(199, 53, 8, 0.884);
}
h3{
  font-size: 20px;
  padding: 2px;
  font-family: cursive;
  color:rgba(199, 53, 8, 0.884);
}
h4{
  font-size: 18px;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgba(27, 25, 24, 0.884);
  margin-left: 50px;
}
h5{
  font-size: 25px;
  padding: 10px;
  font-family: cursive; 
  color:rgba(199, 53, 8, 0.884);
  text-align:center;
}

p {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
}  

/* MAIN NAV SECTION */
nav {
  width: 100%;
  padding: 1%;
  vertical-align: 0px;
}
.inline-block{
  display: inline-block;
  vertical-align: center;
}
.Logo{
  width: 23%;
  padding: 1%;
  text-align: center;
}
ul{
  width: 70%;
  margin-left:10px;
}

li{
  padding: 15px;
  font-size: 20px;
  font-family: fantasy;
}

.block_element{
  font-size: 15px;
  padding: 30px;
  font-family:'Architects Daughter', cursive;
  color:black; 
}

/* HERO CONTENT SECTION */
.heroImg{
  /* height: 600px; */
  padding: 25px;
}
.content{
  /* width: 800px; */
  margin: 0 auto;
  padding: 5px;
}

/* BUTTONS */
button{
    color:rgb(32, 32, 32);
    padding: 10px;
    margin: 0 auto;
    display:block;
}



/* My UX Skills section coded using CSS flex */
.flexContainer{
  /*width: 550px;*/
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding: 15px;
  /* margin-left: 80px; */
 }

.child{
  /* width: 200px; */
  /* height: 225px; */
  padding: 12px;
  margin: 10px 5px;
  background-color: rgba(248, 247, 247, 0.726);
 }

 @media screen and (max-width: 414px) {
  .flexContainer {
    flex-direction: column;
    background-color: blueviolet; 
  }     
}

/* My Work Section Constructed using CSS Grid */
#workGrid{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "topLeftImage" "topRightImage"
  "bottomLeftImage" "bottomRightimage";
  padding:10px;
}
.topLeftImage {
  grid-area: auto;
}
.topRightImage {
  grid-area: auto;
}
.bottomLeftImage {
  grid-area: auto;
}
.bottomRightimage {
  grid-area: auto;
}

@media screen and (max-width: 414px) {
  #workGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: 
      "topLeftImage"
      "topRightImage"
      "bottomLeftImage"
      "bottomRightimage"
    ;
    background-color: blueviolet;
    padding:0;
  }

}

/* FOOTER SECTION */
footer{
  background-color: #2F5259;
  text-align: center;
  color:beige;
  margin: 25px auto;
  width: 100%;
}

footer > ul {
  display: inline-table;
} 